# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Not included folders
VSProject/.vs/
VSProject/Debug/
VSProject/Release/
VSProject/WGCServer/Debug/
VSProject/WGCServer/Release/
VSProject/WGCServerTests/Debug/
VSProject/WGCServerTests/Release/

# Files created after running SCons
*.sconsign.dblite
*.pdb